[submodule "janus.symlink/latex-box"]
  path = janus.symlink/latex-box
  url = git://github.com/vim-scripts/LaTeX-Box.git
  ignore = untracked
[submodule "janus.symlink/busybee_colorscheme"]
  path = janus.symlink/busybee_colorscheme
  url = git://github.com/vim-scripts/BusyBee.git
  ignore = untracked
[submodule "janus.symlink/corn_colorscheme"]
  path = janus.symlink/corn_colorscheme
  url = git://github.com/vim-scripts/corn.git
  ignore = untracked
[submodule "janus.symlink/kellys_colorscheme"]
  path = janus.symlink/kellys_colorscheme
  url = git://github.com/vim-scripts/kellys.git
  ignore = untracked
[submodule "janus.symlink/vim-ruby"]
  path = janus.symlink/vim-ruby
  url = git://github.com/vim-ruby/vim-ruby.git
  ignore = untracked
[submodule "janus.symlink/vim-smartinput"]
  path = janus.symlink/vim-smartinput
  url = git://github.com/kana/vim-smartinput.git
  ignore = untracked
[submodule "janus.symlink/vim-haml"]
  path = janus.symlink/vim-haml
  url = https://github.com/tpope/vim-haml.git
  ignore = untracked
[submodule "vim.symlink"]
  path = vim.symlink
  url = git://github.com/carlhuda/janus.git
  ignore = untracked
