# OSX metadata files
.DS_Store
._*

# backup of original dotfiles
backup/*

# sensitive dotfiles
*.priv.symlink

# privatedots
privatedots/*

#submodules

# vim temp files
vimtmp/*

.bundle
Gemfile.lock
